body {
	font-family: 'Open Sans', sans-serif;	
}

p {
  font-size: 14px;
}

p.publication {
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 2px;
}

b {
  font-weight: 700;
  color: #159957
}

h2{
  font-size:22px;
  color: rgb(21,91,150);
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}

h3, h4 {
  color: #159957
}

h4 {
  font-size: 18px;
}

.basiclist {
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

.leftborder {
  border-left-style: solid;
  border-color: rgb(185,204,222);
  padding-left: 10px;
}

.experienceCard {
    margin-top: 0px;
    margin-bottom: 0px;
}

.lightgraybox {
  padding: 10px;
  background-color: #F0F0F0;
  margin:5px;
}

.titlePageGrad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgb(21,91,150) , rgb(21,138,101)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgb(21,91,150), rgb(21,138,101)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgb(21,91,150), rgb(21,138,101)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgb(21,91,150) , rgb(21,138,101)); /* Standard syntax */
  padding-bottom: 40px;
  padding-top: 40px;
}

.title {
  color:white;
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 5px;
}

.subtitle {
  opacity: 0.5;
  font-size: 22px;
  color: white;
}

.row.bm {
    margin-top: 20px;
    margin-bottom: 20px;
}
