---
layout: default
title: skills
---

<div class="container">
	<div class="row row justify-content-center">
		<h2>Skills & Interests</h2>
	</div>
	<div class="row row justify-content-center">
			<div class="col">
				<p><b>Research & Design</b></p>
				<ul class="basiclist">
					{% for method in site.data.researchdesign %}
						<li>{{ method }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col">
				<p><b>Data Analysis</b></p>
				<ul class="basiclist">
					{% for software in site.data.dataanalysis %}
						<li>{{ software }}</li>
					{% endfor %}							
				</ul>		
			</div>

			<div class="col">
				<p><b>Technical & Tools</b></p>
				<ul class="basiclist">
					{% for tech in site.data.technicaltools %}
						<li>{{ tech }}</li>
					{% endfor %}											
				</ul>		
			</div>

			<div class="col">
				<p><b>Interests</b></p>
				<ul class="basiclist">
				{% for interest in site.data.interests %}
					<li>{{ interest }}</li>
				{% endfor %}						
				</ul>		
			</div>
		</div>
	</div>
</div>
	
