---
layout: default
title: skills
---

<div class="container">
	<div class="row row justify-content-center">
		<h2>Skills</h2>
	</div>
	<div class="row row justify-content-center">
			
			<div class="col-2">
				<p><b>Research Methods</b></p>
				<ul class="basiclist leftborder">
					{% for skill in site.data.skills %}
						{% if skill.type == "research" %}
						<li>{{ skill.name }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="col-2">
				<p><b>Software</b></p>
				<ul class="basiclist leftborder">
					{% for skill in site.data.skills %}
						{% if skill.type == "software" %}
						<li>{{ skill.name }}</li>
						{% endif %}
					{% endfor %}							
				</ul>		
			</div>
			<div class="col-2">
				<p><b>Technical</b></p>
				<ul class="basiclist leftborder">
					{% for skill in site.data.skills %}
						{% if skill.type == "technical" %}
						<li>{{ skill.name }}</li>
						{% endif %}
					{% endfor %}											
				</ul>		
			</div>

		</div>
	</div>
</div>
	